# Dependencies
node_modules/

# Build outputs
dist/
build/

# Env files (no subir secretos)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Coverage
coverage/
